.button {
    padding: 8px 32px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(30, 30, 30);
    color: white;
}
.button:hover {
    background-color: gray;
    border-color: white;
}
.options {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
}